# Virtual environment
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environments
.env

# IDE/OS specific files
.DS_Store
.idea/
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log
